--swiftversion 6.0
--indent 4
--maxwidth 100
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--self remove
--patternlet inline
--commas always
--trimwhitespace always
--ifdef no-indent
--header strip
--exclude .build,build,.swiftpm
